<div id="<%= dom_id author %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Firstname:</strong>
    <%= author.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= author.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Artist-Name:</strong>
    <%= author.artist_name %>
  </p>

</div>
